body {
  color: #777;
  background-color: #ecf0f1;
}

li {
  list-style-type: none;
  text-indent: 20px;
}

a:link {
 color: #2c3e50;
}

a:visited {
  color: #2c3e50;
}
a:hover {
  color: #f0ad4e;
  text-decoration: none;
}

a:active {
  color: #2c3e50;
}

.center {
  margin: 0 auto;
  text-align: center;
}

#container {
  padding: 30px;
  width: 80%;
}


.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

#form-logout {
  display: none;
}

#form-login {
  margin-top: 8px;
}

#form-signup {
  margin: 0;
}

label{
  margin: 0;
  padding: 0;
}

h2, h3 {
  padding-bottom: 15px;
}

.btn-invite-user {
  display: inline;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: .8em;
}

.btn-invite-user:hover {
  color: #3498db;
}

#main {
  padding: 0 20px 0 20px;
}

#myVid {
  min-width: 100%;
  min-height: auto;
}

#myVid {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url('/imgs/background.jpg') no-repeat;
  background-size: cover;
}

#sign-up-bg {
  color: #ddd;
  border-radius: 15px;
  padding: 40px;
  background-color: rgba(51, 51, 51, 0.7)
}

.orange {
  color: #f0ad4e;
}

.medium-container {
  width: 60%;
}

.small-container {
  width: 30%;
}

.clear {
  clear: both;
}

#survey-image {
  padding: 25px 0 25px 0;
  display: block;
  margin: 0 auto;
  width: 200px;
}