<li class="user-list"><%= user.name %>
  <form class="btn-invite-user" method="post" action="/surveys/<%= survey.id %>/invite_user/<%= user.id %>" />
    <% unless user.id == current_user.id %>
      <input class="btn-xs btn btn-warning" type="submit" value="Add to Survey">
    <% end %>
  </form>
</li>
