<h2>Welcome <%= user.name %></h2>

<ul class="pending-surveys">
  <li>The Most Fascinating Survey You'll Never Take</li>
  <li>Also, this one!</li>
</ul>

<ul class="completed-surveys">
  <li>This Survey Has Been Completed</li>
  <li>This One, You Failed</li>
</ul>

