<script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
<script language="javascript" type="text/javascript" src="/js/graph.js"></script>


<h3>Survey Results</h3>
<% survey.questions.each_with_index do |q,index| %>
  <h4><%= q.question %></h4>
  <div id="graph<%= index %>" survey-id="<%= survey.id %>" style="width:400px;height:300px;"></div>
<% end %>

