<form method="post" action="/sign_up">
  <input type="text" name="new_user[name]" placeholder="name">
  <input type="email" name="new_user[email]" placeholder="email">
  <input type="password" name="new_user[password]" placeholder="password">
  <input type="submit" value="signup">
</form>
